h2 {
    color: black;
    left: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

@media only screen and (max-width: 450px) {
        .collapsable {
            display: none; 
        }
}