flask
werkzeug==0.16.1
flask_restplus
flask-cors
flask-sqlalchemy
flask-marshmallow
flask-migrate
marshmallow-sqlalchemy
requests
responses
python-dateutil
marshmallow>=3.26.2 # not directly required, pinned by Snyk to avoid a vulnerability
