flask
werkzeug==3.1.5
flask_restplus
flask-cors
flask-sqlalchemy
flask-marshmallow
flask-migrate
marshmallow-sqlalchemy
requests
responses
python-dateutil
urllib3>=2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability
